<div class="row">
  <div class="col-md-6 sign-up-container-left text-center">
    <%= image_tag("rightmeow_hospital200.svg", height: "30%", class: "hospital") %>
  </div>
  <div class="col-md-6 sign-up-container-right flex-container">
    <div class="">
      <h3>
        Sign Up for an account using facebook to find care for your animal Right Meow!
      </h3>
      <div class="login_buttons text-center">
        <%= link_to auth_path(provider: 'facebook'), :class => "btn btn-block' btn-social btn-facebook" do %>
           <span class="fa fa-facebook"></span>
           Sign in with Facebook
         <% end %>
      </div>
    </div>
  </div>
</div>
