<li class="list-group-item col-lg-8">
  <%=link_to '<i class="fa fa-times-circle" aria-hidden="true"></i>'.html_safe, pet_path(pet), :method => :delete, :data => { :confirm => 'Are you sure?'} %>

  <%= pet.name %></a>
  <span class="pull-right"><%= pet.pet_type_name %></span>
</li>
