/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "variables";
@import "bootstrap";
@import "font-awesome";
@import "bootswatch";
@import "map";

$background-color: #2196f3;

.headline {
  color: white;
  font-family: 'Merienda One', cursive;
  margin: 15px;
  font-size: 55px;
  padding: 10px;
  white-space: nowrap
}

.top-icon {
  display: none;
}
.sign-up-container-left, .sign-up-container-right {
  min-height: 300px;
  align-items: center;
}
.sign-up-container-left {
  display: flex;
  justify-content: space-around;
}
.forms-margin {
  margin: 15px 15px 0 15px;
}

.main {
  border: 5px solid lightblue;
  border-radius: 25px;
  background-color: white;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: $screen-md-min) {
  .list-group-provider-name {
    display: inline-block;
    width: 60%;
  }

  .top-icon {
    display: inline;
    text-align: center;
  }
  .body {
    margin: 0;
  }
  .forms-margin {
    margin: 0;
  }
  .main {
    border-radius: 0;
  }
  .side-icons {
    display: none;
  }
  .forms-margin {
    margin: 10px;
  }
  .headline {
    display: inline;
  }
  .sign-up-container {
    display: block;
    min-height: 150px;
  }
  .sign-up-container-left {
    min-height: 200px;
  }
  .sign-up-container-right {
    min-height: 200px;
  }
}
@media (max-width: $screen-sm-min) {
  .headline {
    margin:0 0 15px 0;
    font-size: 40px;
    line-height: 2em;
    padding-top: 0;
  }
  .sign-up-container-left {
    display: none
  }
  .sign-up-container-right {
    min-height: 100px;
  }
}
.side-cat {
  margin-top: 150px;
  padding: 0;
}

body {
  background-color: $background-color;
}

.footer {
  color: white;
  height: 100px;
}

.light-grey {
  color: #8899AA;
}

.user-pet {
  margin-left: 50px;
  margin-right: 50px;
}

.button-left {
  text-align: left;
}

.hospital {
  padding: 0;
}
.side-icons {
  img {
    width: 100%;
  }
}
.flex-container {
  display: flex;
  justify-content: space-around;
}
.user-pets .list-group-item {
  background: transparent;
}
.left-btn {
  margin-right: 0;
}
.right-btn {
  margin-left: 0;
}
.footer-align {
  color: white;
  margin-top: 5px;
}

.logged-in {
  margin: 15px 0 10px 0;
  padding: 0
}

.edit-pets {
  margin-top: 15px;
}

.user-edit-buttons {
  margin: 0px 45px 15px 5px;
}
.app-bottom {
  margin-bottom: 15px;
}
